<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>An imaginary Calculator</title>
</head>
<body>
    The result of addition 2+2 is <strong>{{ add 2 2 }}</strong>
   <hr/>
   The result of subtraction 4-2 is <strong>{{ sub 4 2}}</strong><br/>
   <em> > The "sub" template function is registered through the "mycollection" package<br/>
      which is imported in the main.go and it contains an init function which registers<br/>
      its global functions by calling the "blocks.Register" function.</em>
</body>
</html>
